<html>
<head>
    <title>Document</title>
</head>
<body>
    <center>
        <h1>AccessRecord Insertion Form</h1>

        <form method="POST">
            {% csrf_token %}
            <label for="name">Name</label>
            <select name="name" id="name">
                {% for wo in webpages %}
                    <option value="{{wo}}">{{wo.name}}</option>
                {% endfor %}
            </select>
            <br><br>
            <label for="author">Author</label>
            <input type="author" name="author" id="author"><br>
            <br>
            <label for="date">Date</label>
            <input type="date" name="date" id="date"><br>
            <br>
            <input type="submit" value="Insert_AR">

        </form>
    </center>
</body>
</html>